*{
    padding: 0%;
    margin: 0%;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
}
#head{
    position: absolute;
    width: 230px;
    top: -47px;
    left: 100px;
}
#headtext{
    position: absolute;
    color: white;
    top: 32px;
    left: 146px;
    letter-spacing: 4px;
    font-family: "Bebas Neue", sans-serif;
}
img{
    position: absolute;
    width: 425px;
    top: 2px;
    left: 5px;
}
h5{
    position: absolute;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    left: 6px;
    top: 2px;
    text-decoration-line:underline;
    text-decoration-style:dotted;
    text-decoration-color:red ;
}
#lone{
    position: absolute;
    width: 190px;
    top: 25px;
    left: 15px;
    border-radius: 5px;
    border: solid white 2px;
}
#ltone{
    position: absolute;
    top: 145px;
    left: 35px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
#ltwo{
    position: absolute;
    width: 190px;
    top: 25px;
    left: 220px;
    border-radius: 5px;
    border: solid white 2px;
}
#lttwo{
    position: absolute;
    top: 145px;
    left: 235px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
h2{
    position: absolute;
    color: white;
    top: -1px;
    left: 70px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    word-spacing: 6px;
}
#anime{
    position: relative;
    width: 190px;
    top: 10px;
    left: 11px;
    border-radius: 5px;
    border: solid white 2px;
    display: inline-block;
}
#animet{
    position: relative;
    top: 10px;
    left: 30px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
}
